<mat-toolbar >
  <span>Departamento de Informática</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/layout/departamento/dept-informatica/inicio-informatica">Inicio</a>
      <a mat-list-item routerLink="/layout/departamento/dept-informatica/bolsa-horas">Bolsa de Horas</a>
      <a mat-list-item routerLink="/layout/departamento/dept-informatica/solicitudes">Solicitudes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
