.sidenav-container {
  height: 100%;
}

mat-toolbar {
  top: 0;
  left: 0;
  right: 0;
}

mat-sidenav-container {
  padding-top: 64px;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-content {
  padding: 16px;
}
