<!-- dept-compras.component.html -->
<mat-toolbar style="background-color: ghostwhite;" class="toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">Departamento de compras</span>
</mat-toolbar>


<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #drawer class="example-sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="./inicio-compras" routerLinkActive="active">
        <mat-icon mat-list-icon>home</mat-icon>
        <span mat-line>INICIO</span>
      </a>
      <a mat-list-item routerLink="./solicitudes-compras" routerLinkActive="active">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <span mat-line>SOLICITUDES</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<style>
  .example-container {
    height: 100%;
  }

  .example-sidenav {
    width: 250px;
  }

  .section-title {
    padding: 16px;
    text-align: center;
  }
  .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
  color: black; /* O el color que prefieras */
}

</style>
