<mat-toolbar>
  <!-- Botón para abrir el sidebar en pantallas pequeñas -->
  <button mat-icon-button aria-label="Open sidebar" (click)="drawer.toggle()" class="inline-flex items-center p-2 mt-2 ms-3 text-gray-500 sm:hidden hover:bg-gray-100 focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <mat-icon>menu</mat-icon>
    <span class="sr-only">Open sidebar</span>
  </button>
  
  <!-- Logo -->
  <div class="flex items-center justify-center mt-2">
    <img src="assets/logo.png" alt="Logo" class="w-48">
  </div>
  
  <!-- Espacio flexible y elementos a la derecha -->
  <div class="ms-auto d-flex align-items-center">
    <button mat-icon-button aria-label="User menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span class="ms-3">{{ username }} ({{ rol }})</span>
    
    <!-- Botón para acciones adicionales -->
    <button mat-icon-button [matMenuTriggerFor]="actionsMenu" aria-label="User actions">
      <mat-icon>more_vert</mat-icon>
    </button>
    
    <!-- Menú de acciones -->
    <mat-menu #actionsMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>





<!-- Contenedor principal del sidebar -->
<mat-drawer-container class="h-screen" autosize>
  <mat-drawer #drawer class="w-64 h-full bg-gray-50 dark:bg-gray-800" mode="side" opened>
    <div class="flex flex-col h-full">
      <!-- Logo -->
             <!-- Enlaces principales -->
      <ul class="space-y-2 font-medium">
        <li>
          <a routerLink="/layout/departamento/inicio" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <mat-icon class="text-gray-500 dark:text-gray-400">home</mat-icon>
            <span class="ms-3">INICIO</span>
          </a>
        </li>
        <li>
          <a routerLink="/layout/departamento/reserva-salas" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
            <mat-icon class="text-gray-500 dark:text-gray-400">meeting_room</mat-icon>
            <span class="ms-3">RESERVA SALAS</span>
          </a>
        </li>
      </ul>
      <hr class="my-4">
      <!-- Sección de departamentos -->
      <div class="relative">
        <h5 class="text-gray-900 dark:text-black px-2 cursor-pointer flex items-center" (click)="toggleDepartamentos()">
          DEPARTAMENTOS
        </h5>
        <mat-nav-list class="space-y-2 font-medium mt-2" [ngClass]="{'hidden': !departamentosAbiertos}">
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-informatica/inicio-informatica" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>computer</mat-icon>
              <span class="ms-3">INFORMATICA</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-compras/inicio-compras" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>shopping_cart</mat-icon>
              <span class="ms-3">COMPRAS</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-administracion/inicio-administracion" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
              <span class="ms-3">ADMINISTRACION</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-laboratorio/inicio-laboratorio" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>science</mat-icon>
              <span class="ms-3">CALIDAD/LABORATORIO</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-produccion/inicio-produccion" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>factory</mat-icon>
              <span class="ms-3">PRODUCCIÓN</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-oficina-tecnica/inicio-oficina-tecnica" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>engineering</mat-icon>
              <span class="ms-3">OFICINA TÉCNICA</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-rrhh/inicio-rrhh" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>group</mat-icon>
              <span class="ms-3">RRHH</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-mantenimiento/inicio-mantenimiento" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>build</mat-icon>
              <span class="ms-3">MANTENIMIENTO</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-gerencia/inicio-gerencia" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>business_center</mat-icon>
              <span class="ms-3">GERENCIA</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-logistica/inicio-logistica" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>local_shipping</mat-icon>
              <span class="ms-3">LOGÍSTICA</span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a mat-list-item routerLink="/layout/departamento/dept-internacional/inicio-internacional" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon mat-list-icon>public</mat-icon>
              <span class="ms-3">INTERNACIONAL</span>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </div>
      
      <hr class="my-4">
      <!-- Sección de solicitudes -->
      <div class="relative">
        <h5 class="text-gray-900 dark:text-dark px-2 cursor-pointer flex items-center" (click)="toggleSolicitudes()">
          SOLICITUDES
          <mat-icon class="ml-2 text-sm">{{ solicitudesAbiertas ? 'expand_less' : 'expand_more' }}</mat-icon>
        </h5>
        <ul class="space-y-2 font-medium mt-2 overflow-hidden transition-all duration-300 ease-in-out" 
            [ngClass]="{'max-h-0': !solicitudesAbiertas, 'max-h-[1000px]': solicitudesAbiertas}">
          <ng-container *ngIf="isUserRole('administrador') || isUserRole('oficina_tecnica')">
            <li>
              <a routerLink="/layout/muestras" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                <mat-icon class="text-gray-500 dark:text-gray-400">science</mat-icon>
                <span class="ms-3">MUESTRAS</span>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="isUserRole('laboratorio')">
            <li>
              <a routerLink="/layout/muestras-calidad" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                <mat-icon class="text-gray-500 dark:text-gray-400">science</mat-icon>
                <span class="ms-3">MUESTRAS</span>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="isUserRole('logistica')">
            <li>
              <a routerLink="/layout/muestras-logistica" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
                <mat-icon class="text-gray-500 dark:text-gray-400">science</mat-icon>
                <span class="ms-3">MUESTRAS</span>
              </a>
            </li>
          </ng-container>
          <li>
            <a routerLink="/layout/departamento/personal/solicitud-personal" class="flex items-center p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700">
              <mat-icon class="text-gray-500 dark:text-gray-400">people</mat-icon>
              <span class="ms-3">PERSONAL</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- Opciones de usuario -->
      
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
