/* CSS para hacer el aside y el botón de hamburguesa responsivos */

@media (max-width: 992px) {
  .sidebar {
    display: none; /* Ocultar el aside en dispositivos móviles y tablets */
  }
}

.sidebar-toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1041;
}

.sidebar-toggle .navbar-toggler {
  background-color: transparent;
  border: none;
}

.sidebar-toggle .navbar-toggler-icon {
  background-color: #fff; /* Color del icono del botón de hamburguesa */
}
