.table-container {
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: auto; /* Permite el desplazamiento vertical */
  position: relative;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2; /* Asegura que esté por encima del resto de la tabla */
  background-color: #fff; /* Fondo blanco para mantener la legibilidad */
}

.table-wrapper {
  overflow-x: auto; /* Permite el desplazamiento horizontal */
}

.sticky-col {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff; /* Fondo blanco para mantener la legibilidad */
}
