.spacer {
    flex: 1 1 auto;
  }
  mat-sidenav-container {
    height: calc(100vh - 128px);
  }
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }.custom-toolbar {
    height: 64px; /* Ajusta la altura según sea necesario */
    padding: 0 16px; /* Ajusta el padding interior según sea necesario */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera para el efecto de elevación */
  
    /* Estilo para los elementos dentro del toolbar */
    button {
      margin-right: 8px; /* Espaciado entre el botón y el título */
    }
  
    .toolbar-title {
      font-size: 20px; /* Tamaño del texto del título */
      font-weight: 500; /* Peso de la fuente */
    }
  
    .spacer {
      flex: 1; /* Espaciador flexible para empujar los elementos a la derecha */
    }
  }
  