<mat-toolbar color="primary" class="custom-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">DEPARTAMENTO DE PRODUCCIÓN</span>
    <span class="spacer"></span>
  </mat-toolbar>
  

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="./inicio-produccion" (click)="sidenav.close()">Inicio</a>
        <a mat-list-item routerLink="./solicitudes-produccion" (click)="sidenav.close()">Solicitudes</a>
      
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

