<div class="container" >
  

  <div class="signup-container">
    <div class="title">RnpConnect</div>
<img style="width: 500px;" src="../../../assets/logo.png" alt="">  
  <form>
      <strong><label  for="name">Usuario</label></strong>
      <input [(ngModel)]="loginObj.email" [ngModelOptions]="{standalone: true}" type="text" required placeholder="E-mail ">

      <label for="password">Contraseña</label>
      <input [(ngModel)]="loginObj.contrasena" [ngModelOptions]="{standalone: true}" type="password" required placeholder="Contraseña">

      <button class="button-40" (click)="onLogin()">Entrar</button>
    </form>

  </div>
  <div class="image-container">
    <img src="../../../assets/logoVerti.png" alt="Nature Pharma Rioja">
  </div>
</div>
