<mat-toolbar style="background-color: #01931c; color: white;">
  <span>SOLICITUD DE MUESTRAS </span>
  <span class="spacer"></span>
</mat-toolbar>
<br>
<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8 table-container">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="idsolicitud_muestras">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sticky> ID </th>
        <td mat-cell *matCellDef="let row" class="sticky-col"> {{ row.idsolicitud_muestras }} </td>
      </ng-container>

      <!-- Solicitante Column -->
      <ng-container matColumnDef="solicitante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SOLICITANTE </th>
        <td mat-cell *matCellDef="let row"> {{ row.solicitante }} </td>
      </ng-container>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let row"> {{ row.nombre }} </td>
      </ng-container>
      <ng-container matColumnDef="cod_producto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> COD. PRODUCTO </th>
        <td mat-cell *matCellDef="let row"> {{ row.cod_producto }} </td>
      </ng-container>

      <!-- Comentario Column -->
      <ng-container matColumnDef="comentario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> COMENTARIO </th>
        <td mat-cell *matCellDef="let row"> {{ row.comentario }} </td>
      </ng-container>

      <!-- Lote Column -->
      <ng-container matColumnDef="lote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LOTE </th>
        <td mat-cell *matCellDef="let row"> {{ row.lote }} </td>
      </ng-container>

      <!-- Fecha Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA </th>
        <td mat-cell *matCellDef="let row"> {{ row.fecha | date:'dd/MM/yyyy' }} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
        <td mat-cell *matCellDef="let row"> {{ row.estado }} </td>
      </ng-container>
      <ng-container matColumnDef="estado_almacen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO LABORATORIO </th>
        <td mat-cell *matCellDef="let row"> {{ row.estado_almacen }} </td>
      </ng-container>
      <ng-container matColumnDef="expediciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EXPEDICIONES </th>
        <td mat-cell *matCellDef="let row"> {{ row.expediciones }} </td>
      </ng-container>



      <!-- Definir las filas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selectRow(row)"
      [ngClass]="{
        'row-pending': row.estado === 'Pendiente',
        'row-in-progress': row.estado === 'En proceso',
        'row-completed': row.estado === 'Completado',
        'selected-row': isSelected(row)
      }">
  </tr>
    </table>
  </div>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[ 10, 25, 100]" aria-label="Seleccionar página de usuarios" class="paginator" #paginator></mat-paginator>
</div>


<br>
<mat-accordion>
  <mat-expansion-panel hideToggle style="background-color: #28a745;">
    <mat-expansion-panel-header>
      <mat-panel-title style="color: white;">NUEVA SOLICITUD </mat-panel-title>
      <mat-panel-description><mat-icon>arrow_downward</mat-icon></mat-panel-description>
    </mat-expansion-panel-header>


  </mat-expansion-panel>
</mat-accordion>

<br>
<div *ngIf="selectedRow" class="detalle-muestra">
  <h2 class="titulo">Detalles de la muestra: {{ selectedRow.idsolicitud_muestras }}</h2>
  <div class="botones">
    <button class="boton-pdf" (click)="downloadPDF()">
      Exportar a PDF <mat-icon>picture_as_pdf</mat-icon>
    </button>

  </div>
  <div class="info">
    <p><strong>Solicitante:</strong> {{ selectedRow.solicitante }}</p>
    <p><strong>Comentario:</strong> {{ selectedRow.comentario }}</p>
    <p><strong>Lote:</strong> {{ selectedRow.lote }}</p>
    <p><strong>Fecha:</strong> {{ selectedRow.fecha | date:'dd/MM/yyyy' }}</p>
    <p><strong>Estado:</strong>
      <span [ngClass]="{
        'estado-aprobado': selectedRow.estado === 'Aprobado',
        'estado-pendiente': selectedRow.estado === 'Pendiente',
        'estado-rechazado': selectedRow.estado === 'Rechazado'
      }">
        {{ selectedRow.estado }}
      </span>
    </p>
    <p><strong>ESTADO ALMACEN:</strong> {{ selectedRow.estado_almacen }}</p>


    <div class="form-container">
      <mat-card>
        <mat-card-content>
          <div class="file-input-container">

            <button mat-raised-button color="primary" class="file-button" (click)="fileInput.click()">
              ADJUNTAR FICHERO PARA ALMACEN <mat-icon>attach_file</mat-icon>
            </button>
            <input type="file" #fileInput (change)="getFile($event)" class="file-input" style="display: none;">
          </div>
          <div *ngIf="selectedFileName" class="file-name">
            Archivo seleccionado: {{ selectedFileName }}
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="sendFile()" class="send-button">ENVIAR A ALMACEN </button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="form-container">

      <mat-card>
        <mat-card-content>
          <p>ENVIAR SOLICITUD A EXPEDICIONES</p>
          <button mat-raised-button color="primary" (click)="sendExpediciones()">ENVIAR A EXPEDICIONES</button>
        </mat-card-content>
      </mat-card>
    </div>


    </div>


    </div>

