/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-snack-bar-container.custom-snack-bar {
  background-color: red !important;
  color: white;
  justify-content: center;
  top: 0;
}
